html {
  font: 112.5%/1.45em "Bai Jamjuree", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}

main {
  overflow: hidden;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

#hero {
  height: 80vh;
}